### **TUGAS**

In [8]:
from prettytable import PrettyTable

class Customer:
  def __init__(self, nama, umur, total_belanja):
    self.nama = nama
    self.umur= umur
    self.total_belanja = total_belanja
  def __repr__(self):
    return f"{{'nama': '{self.nama}', 'umur': {self.umur}, 'total_belanja': {self.total_belanja}}}"

class MergeSort:
  def sort(customers, key):
    if len(customers) <= 1:
      return customers
    mid = len(customers) // 2
    left_half = MergeSort.sort(customers[:mid], key)
    right_half = MergeSort.sort(customers[mid:], key)
    return MergeSort.merge(left_half, right_half, key)

  def merge(left, right, key):
    sorted_list = []
    i = j = 0

    while i < len(left) and j < len(right):
      if getattr(left[i], key) <= getattr(right[j], key):
        sorted_list.append(left[i])
        i += 1
      else:
        sorted_list.append(right[j])
        j += 1

    sorted_list.extend(left[i:])
    sorted_list.extend(right[j:])
    return sorted_list

# Data pelanggan (nama, umur, total_belanja)
customers = [
    Customer("Setiasih", 21, 100000), Customer("Nadhifa", 17, 50000), Customer("Septi", 15, 80000),
    Customer("Sita", 20, 200000), Customer("Evellyn", 25, 85000), Customer("Dzakii", 27, 500000),
    Customer("Abdi", 22, 150000), Customer("Hammam", 20, 90000), Customer("Salwa", 18, 120000),
    Customer("Akmal", 25, 200000)
]

# Sorting berdasarkan nama (A-Z)
sorted_nama = MergeSort.sort(customers, "nama")
print("Urutan berdasarkan nama (dari abjad A - Z):")
table = PrettyTable(["Nama", "Umur", "Total Belanja"])
for cust in sorted_nama:
  table.add_row([cust.nama, cust.umur, cust.total_belanja])
print(table)

# Sorting berdasarkan umur (termuda ke tertua)
sorted_umur = MergeSort.sort(customers, "umur")
print("\nUrutan berdasarkan umur (dari yang termuda ke tertua):")
table = PrettyTable(["Nama", "Umur", "Total Belanja"])
for cust in sorted_umur:
  table.add_row([cust.nama, cust.umur, cust.total_belanja])
print(table)

# Sorting berdasarkan total belanja (terkecil ke terbesar)
sorted_belanja = MergeSort.sort(customers, "total_belanja")
print("\nUrutan berdasarkan total belanja (dari yang terkecil ke terbesar):")
table = PrettyTable(["Nama", "Umur", "Total Belanja"])
for cust in sorted_belanja:
  table.add_row([cust.nama, cust.umur, cust.total_belanja])
print(table)

Urutan berdasarkan nama (dari abjad A - Z):
+----------+------+---------------+
|   Nama   | Umur | Total Belanja |
+----------+------+---------------+
|   Abdi   |  22  |     150000    |
|  Akmal   |  25  |     200000    |
|  Dzakii  |  27  |     500000    |
| Evellyn  |  25  |     85000     |
|  Hammam  |  20  |     90000     |
| Nadhifa  |  17  |     50000     |
|  Salwa   |  18  |     120000    |
|  Septi   |  15  |     80000     |
| Setiasih |  21  |     100000    |
|   Sita   |  20  |     200000    |
+----------+------+---------------+

Urutan berdasarkan umur (dari yang termuda ke tertua):
+----------+------+---------------+
|   Nama   | Umur | Total Belanja |
+----------+------+---------------+
|  Septi   |  15  |     80000     |
| Nadhifa  |  17  |     50000     |
|  Salwa   |  18  |     120000    |
|   Sita   |  20  |     200000    |
|  Hammam  |  20  |     90000     |
| Setiasih |  21  |     100000    |
|   Abdi   |  22  |     150000    |
| Evellyn  |  25  |     85000     |
|  Akmal   |  25  |     200000    |
|  Dzakii  |  27  |     500000    |
+----------+------+---------------+

Urutan berdasarkan total belanja (dari yang terkecil ke terbesar):
+----------+------+---------------+
|   Nama   | Umur | Total Belanja |
+----------+------+---------------+
| Nadhifa  |  17  |     50000     |
|  Septi   |  15  |     80000     |
| Evellyn  |  25  |     85000     |
|  Hammam  |  20  |     90000     |
| Setiasih |  21  |     100000    |
|  Salwa   |  18  |     120000    |
|   Abdi   |  22  |     150000    |
|   Sita   |  20  |     200000    |
|  Akmal   |  25  |     200000    |
|  Dzakii  |  27  |     500000    |
+----------+------+---------------+